<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="../img/icon.ico">
    <link rel="stylesheet" type="text/css" href="../css/stylemain.css">
    <title>ТУ- Адреса</title>
</head>
<body>
<header>
    <div class="logo">
        <a class="TopHomeLink" href="/mainpage">
            <img class="icon" src="../img/headerUgolok.png" width="220" height="92">
        </a>
    </div>
</header>
<hr>
<ul align = "center">
    <li><a href = "/mainpage">Главная</a></li>
    <li><b href = "/mainpage/addresses">Адреса</b></li>
    <li><a href = "/mainpage/myProducts">Мои товары</a></li>
    <li><a href = "/mainpage/productlist">Каталог товаров</a></li>
    <li><a href = "/mainpage/basket">Корзина</a></li>
</ul>

</body>
</html>